#searchBox {
  background-color: #666A73; 
  color: white;
}

#searchBox::placeholder {
  color: #D9D1C7;
}

.row {
  color: #F2EDE4;
}

.movie-card {
  padding: 2rem;
}
.footer {
  color: #F2EDE4;
}

a#my-twitter-id, a#license
{
    text-decoration: none;
    color: #FFB900;
}
a#my-twitter-id:hover, a#license:hover{
    color: #F2EDE4;
}